* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    border-bottom: 1px solid rgba(188, 188, 188, 0.401);
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    padding: 25px 25px 25px 60px;
    gap: 10px;
}

.logo img {
    width: 38px;
    position: relative;
    top: 2px;
}

.logo h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 30px;
}

span {
    color: #16a34a;
}

nav {
    margin-left: auto;
    padding: 25px 80px 25px 0px;
    display: flex;
    gap: 40px;
    align-items: center;
}

nav .bot {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(65, 65, 65);
    text-decoration: none;
    font-size: 17px;
    transition: 250ms;
}

nav .bot:hover {
    color: #16a34a;
}

.botao-alugar {
    border: 0px solid #16a34a;
    background-color: #16a34a;
    padding: 12px 24px 12px 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    border-radius: 22px;
}

.botao-alugar:hover {
    background-color: #166733;
    transition: 250ms;
}

.section-1 {
    display: flex;
    align-items: center;
    padding: 80px 120px 0px 120px;
    max-width: 2900px;
    gap: 200px;
    justify-content: center;

}

.conteudo-esquerda {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo-esquerda .p-titulo {
    color: #16a34a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.conteudo-esquerda h1 {
    font-size: 74px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    line-height: 1.1;
}

.conteudo-esquerda .p-descrição {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: rgba(60, 60, 60, 0.962);
}



.conteudo-direita img {
    border-radius: 30px;
}

.botoes {
    display: flex;
    gap: 24px;
    align-items: center;
}

.botoes .botao-1 {
    border: 1px solid transparent;
    background-color: #16a34a;
    padding: 16px 30px 16px 30px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
}

.botoes .botao-1:hover {
    background-color: #166733;
    transform: translateY(-2px);
    transition: 250ms;
}

.botoes .botao-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.botoes .botao-2:hover {
    text-decoration: none;
}

.section-2 {
    background-color: rgba(237, 244, 251, 0.716);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
} 

.titulo-1 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}   

.titulo-1 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.como-funciona {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 120px;
}

.quadros {
    border: 1px solid transparent;
    width: 350px;
    height: 170px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.invisivel {
    display: flex;
    align-items: center;
}

.invis {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quadros h1 {
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2ce46d24;
    margin-left: auto;
}

.fun-1 {
    color: #16a34a;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.quadros h3 {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conteudo-p {
    color: rgba(0, 0, 0, 0.715);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-3 {
    padding: 80px 190px 0px 120px;
    background-color: rgb(241, 241, 241);
}

.titulo-3 {
    color: #16a34a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.disponiveis {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modelo {
    display: flex;
    align-items: center;
}

.modelo h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.modelo p {
    margin-left: auto;
    color: rgba(0, 0, 0, 0.788);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bikes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.bike-1 {
    width: 300px;
    height: 550px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 50px;
}

.conteudo-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.bike-1 img {
    width: 300px;
    border-radius: 20px 20px 0px 0px;
}

.bike-1 a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid transparent;
    width: 180px;
    height: 45px;
    color: white;
    background-color: #16a34a;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 1px auto auto auto;
    border-radius: 14px;
}

.bike-1 a:hover {
    background-color: #166733;
    transform: translateY(-2px);
    transition: 200ms;
}

.mod-bike {
    color: #16a34a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.conteudo-card h2 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.descricao-bike {
    color: #000000a9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    line-height: 1.2;
}

.preco {
    display: flex;
    margin-top: 15px;
}

.preco .preco-01 {
    color: #000000a9;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.span-2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
}

.span-2-1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.568);
}

.disponivel {
    margin-left: auto; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #28b65c;
}

.bike-2  {
    width: 300px;
    height: 550px;
    background-color: #ffffffb2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 50px;
}

.bike-2 img {
    width: 300px;
    border-radius: 20px 20px 0px 0px;
    filter: grayscale(80%);
    transition: filter 0.3s ease;
}

.bike-2 a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid transparent;
    width: 180px;
    height: 45px;
    color: white;
    background-color: #7575756b;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 1px auto auto auto;
    border-radius: 14px;
}

.indisponivel {
    margin-left: auto; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #00000059;
}

.bike-2 h2 {
    color: #0000006c;
}

.bike-2 .mod-bike {
    color: #28b65ca9;
}

.pronto {
    width: 1300px;
    height: 160px;
    background: linear-gradient(to left, #1c8541, #22a050 );
    margin: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.centralizador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}

.centralizador h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: white;
}

.centralizador p {
    color: rgba(255, 255, 255, 0.829);
    font-family: Arial, Helvetica, sans-serif   
}

.sep {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.alugar-bike {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    background-color: white;
    width: 200px;
    justify-content: center;
    height: 50px;
    border-radius: 20px;
    gap: 5px;
}

.alugar-bike img {
    position: relative;
    top: 2px;
}

.alugar-bike a {
    color: #16a34a;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
}